.mainZone {
	position: fixed;
	left: 0;
	top: 0;
}

.iconsZone {
	position: fixed;
	display: inline-flex;
    flex-direction: column;
	right: 0;
	top: 50vh;
	padding: 10px;
	transform: translate(0, -50%);
	color: white;
}

.modalsZone {
	position: fixed;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
}