.backgroudZone {
	position: absolute;
	width: 100%;
	height: 100%;
}

.backgroudZone > img {
	position: absolute;
	width: 200vw;
	height: 200vh;
	left: -50vw;
	top: -50vh;
	animation: spin 5s linear infinite;
}

.ShuffledZone-umer {
	position: absolute;
	bottom: -35px;
	right: 100px;
	width: 200px;
	height: 350px;
	cursor: pointer;
}

.ShuffledZone-umerWords {
	position: absolute;
	width: 200px;
	height: 50px;
	border: 1px solid white;
	border-radius: 150px;
	line-height: 50px;
	text-align: center;
	color: white;
}

.ShuffledZone-umer > img {
	position: absolute;
	top: 50px;
}

.ShuffledZone-gyFace {
	position: absolute;
	bottom: -40px;
	right: 300px;
	width: 200px;
	height: 350px;
	cursor: pointer;
}

.ShuffledZone-gyFaceWords {
	position: absolute;
	width: 200px;
	height: 50px;
	border: 1px solid white;
	border-radius: 150px;
	line-height: 50px;
	text-align: center;
	color: white;
}

.ShuffledZone-gyFace > img {
	position: absolute;
	top: 50px;
}

.ShuffledZone-fireDragon {
	position: absolute;
	left: 200px;
	bottom: 50px;
	animation: counterSpin 5s linear infinite;
}

.ShuffledZone-fireDragon > img {
	width: 300px;
}

.ShuffledZone-lalaBear {
	position: absolute;
	top: 50px;
	right: 200px;
}

.ShuffledZone-swagMan {
	position: absolute;
	bottom: 250px;
	left: 50px;
}

.ShuffledZone-swagMan > img {
	position: absolute;
	width: 150px;
}

.ShuffledZone-attentionZone {
	position: absolute;
	display: inline-flex;
	justify-content: space-around;
	flex-direction: column;
	width: 300px;
	height: 200px;
	top: 100px;
	left: 100px;
}

.ShuffledZone-attention {
	font-size: 3em;
	text-align: center;
	animation: blink 2s infinite;
	color: white;
}

.ShuffledZone-thankAttention {
	font-size: 3em;
	text-align: center;
	animation: blink 2s infinite;
	animation-delay: 1s;
	color: white;
}

@keyframes blink{
	0% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes counterSpin{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}