.ShuffledZone-umer {
	position: absolute;
	bottom: -35px;
	right: 100px;
	width: 200px;
	height: 350px;
	cursor: pointer;
}

.ShuffledZone-umerWords {
	position: absolute;
	width: 200px;
	height: 50px;
	border: 1px solid black;
	border-radius: 150px;
	line-height: 50px;
	text-align: center;
}

.ShuffledZone-umer > img {
	position: absolute;
	top: 50px;
}