.mainZone {
	position: absolute;
	display: inline;
}

.ghostFont {
	display: inline-block;
	position: relative;
	word-spacing: none;
	width: 100vw;
	left: 0;
	top: 0;
	opacity: 0;
	transform: translate(-50%, -50%) rotate(20deg);
	/*transition: all 3s;*/
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}

.ghostFont.ghostFontTopShow {
	animation: top-down 3s linear;
}

.ghostFont.ghostFontLeftShow {
	animation: left-right 3s linear;
}

.ghostFont.ghostFontDownShow {
	animation: down-top 3s linear;
}

.ghostFont.ghostFontRightShow {
	animation: right-left 3s linear;
}

@keyframes top-down {
	0% {
		opacity: 0;
		left: 0;
		top: 0;
	}
	50% {
		opacity: 1;
		left: 0;
		top: 30vh;
	}
	100% {
		opacity: 0;
		left: 0;
		top: 60vh;
	}
}

@keyframes left-right {
	0% {
		opacity: 0;
		left: 0;
		top: 0;
	}
	50% {
		opacity: 1;
		left: 30vw;
		top: 0;
	}
	100% {
		opacity: 0;
		left: 60vw;
		top: 0;
	}
}

@keyframes down-top {
	0% {
		opacity: 0;
		left: 0;
		top: 0;
	}
	50% {
		opacity: 1;
		left: 0;
		top: -30vh;
	}
	100% {
		opacity: 0;
		left: 0;
		top: -60vh;
	}
}

@keyframes right-left {
	0% {
		opacity: 0;
		left: 0;
		top: 0;
	}
	50% {
		opacity: 1;
		left: -30vw;
		top: 0;
	}
	100% {
		opacity: 0;
		left: -60vw;
		top: 0;
	}
}