.EmergeMarker-invisible {
	display: none;
}

.EmergeMarker-mainZone {
	position: relative;
}

.EmergeMarker-locationCircle {
	position: absolute;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background-color: #8a0c0c;
	border: 1px solid white;
	cursor: pointer;
	transition: all 0.5s linear;
}

.EmergeMarker-locationCircleShow {
	background-color: #8a0c0c;
}

.EmergeMarker-squareZone {
	position: absolute;
	left: 15px;
	transform: translate(0%, -50%);
	width: 100px;
	height: 30px;
	background-color: #8a0c0c;
	border: 1px solid white;
	border-radius: 5px;
	overflow: hidden;
	line-height: 30px;
	color: white;
	text-align: center;
	animation: showSquare 0.2s linear;
}

@keyframes showSquare {
	0% {
		width: 0px;
		height: 0px;
	}
	100% {
		width: 100px;
		height: 30px;
	}
}