.mainZone {
	overflow: hidden;
	position: relative;
	display: flex;
}

.mapZone {
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 300px);
	height: 100%;
}

.cardsRight {
	display: inline-block;
	background-color: #282828;
	width: 300px;
	height: 100%;
	border-left: 1px solid #8a8a8a;
}

.cardsZoneTitle {
	height: 100px;
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
	background-color: #282828;
}

.cardsZone {
	overflow: scroll;
	width: 300px;
	height: calc(100% - 100px);
}

@media only screen and  (max-width: 600px) {
	.mapZone {
		width: 100%;
	}
	.cardsRight {
		display: none;
	}
}
