.mainArea {
	position: relative;
	perspective: 300px;
	overflow: hidden;
	background-color: black;
}

.starWarLogo {
	position: absolute;
	width: 50%;
	left: 25%;
	top: 10%;
}

.starWarLogo > img {
	width: 100%;
}

.starWarView {
	/*transform: rotateX(60deg)*/;
	position: absolute;
	height: calc(500vh);
	width: 100%;
	/*left: -50%;*/
	bottom: 0;
	overflow: hidden;
	transform-origin: bottom;
}

.backgroundImg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 0;
}

.starWarsAudio {
	display: none;
}

.functionIcon {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 2px solid #fbbf0b;
}

.functionIcon > svg {
	display: inline-block;
	color: #fbbf0b;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
}

.functionIcon > svg:hover {
	cursor: pointer;
}

.pauseIcon {
	top: 70px;
	right: 20px;
}

.playIcon {
	top: 70px;
	right: 20px;
}

.bitTitle {
	color: #fbbf0b;
	text-align: center;
	font-size: 6em;
}

.smallTitle {
	color: #fbbf0b;
	text-align: center;
	font-size: 5em;
}

.paragraph {
	display: block;
	color: #fbbf0b;
	text-align: justify;
	font-size: 4em;
}

@media screen and (max-width: 800px) {

	.backgroundImg {
		left: -50%;
		width: 200%;
	}

}
