.FlipCard-mainZone {
	/*background: linear-gradient(141deg, #2ea2a2 0%, #2fb7c5 51%, #48c0c3 75%);*/
	background-color: #072c40;
	border-bottom: 1px solid black;
	display: block;
	position: relative;
	perspective: 150px;
	-webkit-perspective: 150px;
	overflow: hidden;
	transition: all 1s;
}

.FlipCard-mainZoneShow {
	/*background: linear-gradient(141deg, #48c0c3 0%, #2fb7c5 51%, #2ea2a2 75%);*/
	background-color: #2a6496;
}

.FlipCard-titleWords {
	position: absolute;
	color: white;
	padding: 5px;
	font-size: 0.5em;
	top: -25px;
	transition: all 0.5s;
}

.FlipCard-titleWords.FlipCard-titleWordsShow {
	top: 0px;
}

.FlipCard-content {
	position: absolute;
	width: 150px;
	height: 40px;
	left: 50%;
	top: 50%;
	-webkit-transform-style: preserve-3d;
	transform: translate(-50%, -50%) rotateX(0deg);
	transition: all 0.5s linear;
}

.FlipCard-content.FlipCard-contentShow {
	transform: translate(-50%, -50%) rotateX(180deg);
}

.FlipCard-middleWords {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 1.2em;
	-webkit-backface-visibility: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}

.FlipCard-frontWords {
	color: #acacac;
	transform: rotateX(0deg);
}

.FlipCard-backWords {
	color: white;
	transform: rotateX(180deg);
}

