.invisible {
	display: none;
}

.mainZone {
	overflow: hidden;
	position: relative;
	perspective: 200px;
	background-color: black;
}

.hello {
	position: absolute;
	font-size: 6em;
	transform: rotateY(15deg);
	background-color: black;
	width: 500px;
	height: 120px;
	color: white;
	line-height: 120px;
	text-align: center;
	overflow: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}

.helloEng {
	left: calc(50% - 250px);
	animation: helloEngAnime 2s;
}

.helloJpn {
	left: calc(50% - 250px);
	animation: helloJpnAnime 2s;
}

.helloSpan {
	left: calc(50% - 250px);
	animation: helloSpanAnime 2s;
}

.helloChi {
	left: calc(50% - 250px);
	animation: helloChiAnime 2s;
}

.myNameIs {
	position: absolute;
	font-size: 4em;
	width: 500px;
	height: 120px;
	color: white;
	line-height: 120px;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.myNameIsEng {
	top: calc(20% - 60px);
	left: calc(35% - 250px);
	animation: myNameIsAnimeEng 2.5s;
}

.myNameIsSpan {
	top: calc(60% - 60px);
	left: calc(20% - 250px);
	animation: myNameIsAnimeSpan 2.5s;
}

.myNameIsJpn {
	top: calc(40% - 60px);
	left: calc(70% - 250px);
	animation: myNameIsAnimeJpn 2.5s;
}

.myNameIsChi {
	top: calc(80% - 60px);
	left: calc(65% - 250px);
	animation: myNameIsAnimeChi 2.5s;
}

.name {
	position: absolute;
	font-size: 4em;
	width: 1000px;
	height: 80px;
	color: white;
	line-height: 80px;
	text-align: center;
	background-color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	transform: translate3d(-50%, -50%, 0px);
}

.myName {
	animation: myNameAnime 2s;
}

.aka {
	animation: akaAnime 2s;
}

.nickName {
	animation: nickNameAnime 2s;
}

.specialtyZone {
	position: absolute;
	display: inline-block;
	width: 800px;
	height: 800px;
	left: calc(50% - 400px);
	top: calc(50% - 400px);
	transform: translate3d(0, 0, -100px) rotateY(-30deg);
	transform-style: preserve-3d;
}

.specialtyCommon {
	position: absolute;
	display: inline-block;
	font-size: 5em;
	height: 80px;
	line-height: 80px;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.specialty {
	top: calc(50%);
	left: 50%;
	animation: specialtyAnime 1.5s;
}

.specialtyOne {
	top: calc(50% - 80px);
	right: 50%;
	transform-origin: 100% 50%;
	transform: rotateY(60deg);
	animation: specialtyAnime 1.5s;
}

.specialtyTwo {
	top: calc(50% + 80px);
	right: 50%;
	transform-origin: 100% 50%;
	transform: rotateY(60deg);
	animation: specialtyAnime 1.5s;
}

.specialtyThree {
	top: calc(50% - 200px);
	left: 50%;
	animation: specialtyAnime 1.5s;
}

.specialtyFour {
	top: calc(50%);
	left: 50%;
	animation: specialtyAnime 1.5s;
}

@keyframes helloEngAnime {
	0% {
		top: calc(50% - 60px);
	}
	20% {
		top: calc(50% - 60px);
	}
	33% {
		top: calc(50% - 180px);
	}
	53% {
		top: calc(50% - 180px);
	}
	67% {
		top: calc(50% - 240px);
	}
	87% {
		top: calc(50% - 240px);
		transform: rotateY(15deg);
	}
	100% {
		top: calc(50% - 240px);
		transform: rotateY(-90deg);
	}
}

@keyframes helloChiAnime {
	0% {
		top: calc(50% - 60px);
	}
	20% {
		top: calc(50% - 60px);
	}
	33% {
		top: calc(50% + 60px);
	}
	53% {
		top: calc(50% + 60px);
	}
	67% {
		top: calc(50%);
	}
	87% {
		top: calc(50%);
		transform: rotateY(15deg);
	}
	100% {
		top: calc(50%);
		transform: rotateY(-90deg);
	}
}

@keyframes helloJpnAnime {
	0% {
		top: calc(50% - 60px);
	}
	20% {
		top: calc(50% - 60px);
	}
	33% {
		top: calc(50% - 180px);
	}
	53% {
		top: calc(50% - 180px);
	}
	67% {
		top: calc(50% - 120px);
	}
	87% {
		top: calc(50% - 120px);
		transform: rotateY(15deg);
	}
	100% {
		top: calc(50% - 120px);
		transform: rotateY(-90deg);
	}
}

@keyframes helloSpanAnime {
	0% {
		top: calc(50% - 60px);
	}
	20% {
		top: calc(50% - 60px);
	}
	33% {
		top: calc(50% + 60px);
	}
	53% {
		top: calc(50% + 60px);
	}
	67% {
		top: calc(50% + 120px);
	}
	87% {
		top: calc(50% + 120px);
		transform: rotateY(15deg);
	}
	100% {
		top: calc(50% + 120px);
		transform: rotateY(-90deg);
	}
}

@keyframes myNameIsAnimeEng {
	0% {
		transform: translateZ(200px);
	}
	20% {
		transform: translateZ(0px);
	}
	80% {
		top: calc(20% - 60px);
		left: calc(35% - 250px);
		transform: translateZ(0px);
	}
	100% {
		top: -120px;
		left: -250px;
		transform: translateZ(0px) rotateZ(-179deg);
	}
}

@keyframes myNameIsAnimeSpan {
	0% {
		transform: translateZ(200px);
	}
	40% {
		transform: translateZ(200px);
	}
	60% {
		transform: translateZ(0);
	}
	80% {
		top: calc(60% - 60px);
		left: calc(20% - 250px);
		transform: translateZ(0);
	}
	100% {
		top: 100%;
		left: -250px;
		transform: translateZ(0) rotateZ(179deg);
	}
}

@keyframes myNameIsAnimeJpn {
	0% {
		transform: translateZ(200px);
	}
	20% {
		transform: translateZ(200px);
	}
	40% {
		transform: translateZ(0);
	}
	80% {
		top: calc(40% - 60px);
		left: calc(70% - 250px);
		transform: translateZ(0);
	}
	100% {
		top: -120px;
		left: calc(100% + 250px);
		transform: translateZ(0) rotateZ(179deg);
	}
}

@keyframes myNameIsAnimeChi {
	0% {
		transform: translateZ(200px);
	}
	60% {
		transform: translateZ(200px);
	}
	80% {
		transform: translateZ(0);
	}
	80% {
		top: calc(80% - 60px);
		left: calc(65% - 250px);
		transform: translateZ(0);
	}
	100% {
		top: calc(100% + 120px);;
		left: calc(100% + 250px);
		transform: translateZ(0) rotateZ(-179deg);
	}
}

@keyframes myNameAnime {
	0% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
		transform: translateZ(-3000px);
	}
	10% {
		transform: translateZ(0);
	}
	25% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
	}
	35% {
		top: calc(50% - 80px);
		left: calc(50% - 570px);
	}
	50% {
		top: calc(50% - 80px);
		left: calc(50% - 570px);
	}
	60% {
		top: calc(50% - 120px);
		left: calc(50% - 640px);
	}
	90% {
		top: calc(50% - 120px);
		left: calc(50% - 640px);
	}
	100% {
		top: calc(50% - 120px);
		left: -1000px;
		transform: translateZ(0);
	}
}

@keyframes akaAnime {
	0% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
		transform: translateZ(-3000px);
	}
	10% {
		transform: translateZ(0);
	}
	25% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
	}
	35% {
		top: calc(50%);
		left: calc(50% - 430px);
	}
	50% {
		top: calc(50%);
		left: calc(50% - 430px);
	}
	60% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
	}
	90% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
	}
	100% {
		top: calc(50% - 40px);
		left: calc(100%);
		transform: translateZ(0);
	}
}

@keyframes nickNameAnime {
	0% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
		transform: translateZ(-3000px);
	}
	10% {
		transform: translateZ(0);
	}
	25% {
		top: calc(50% - 40px);
		left: calc(50% - 500px);
	}
	35% {
		top: calc(50%);
		left: calc(50% - 430px);
	}
	50% {
		top: calc(50%);
		left: calc(50% - 430px);
	}
	60% {
		top: calc(50% + 40px);
		left: calc(50% - 360px);
	}
	90% {
		top: calc(50% + 40px);
		left: calc(50% - 360px);
	}
	100% {
		top: calc(50% + 40px);
		left: -1000px;
		transform: translateZ(0);
	}
}

@keyframes specialtyAnime {
	0% {
		padding: 0 500px;
	}
	15% {
		padding: 0 0;
	}
	85% {
		padding: 0 0;
	}
	100% {
		padding: 0 500px;
	}
}
