.mainZone {
	position: relative;
}

.navbar {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	z-index: 5;
	/*background-color: rgba(256, 256, 256, 0.2);*/
}

.logoZone {
	display: inline-flex;
	height: 90px;
	width: 90px;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 70px;
	width: 70px;
}